.BasisText {
    color: black;
    text-shadow: 10px;
    text-shadow: black;
}

body {
    background: 
        url('/Images/BGimage.jpg') no-repeat center top;
        background-color: #313131;
    background-size: cover;
    height: 200vh; /* This makes the page tall enough to scroll */
}

.content {
    padding: 100px;
    color: white;
    text-align: center;
}

.linkje:hover {
    font-size: 20px;
    /*text grootte muis erop*/
}

.linkje {
    font-size: 16px;
    /*Standaard letter grootte*/
    transition: font-size 0.3s;
    /*Animatie snelheid voor de flow*/
}