/*style voor algemene text op de site*/
.BasisText-Wit { 
    color: black; 
    text-align: center !important;
    font-size: 25px;
}

/*style voor algemene text op de site*/
.BasisText-Zwart { 
    color: white; 
    text-align: center !important;
    font-size: 25px;
}

/* meer ruimte tussen kopjes ipv <br /> */
h1, p, .footer {
    margin-bottom: 2em;
}

/*achtergrond pagina en zorgen dat je kunt scrollen*/
body { 
    background: url('/Images/BGimage.jpg') no-repeat center top;
    background-color: #313131;
    background-size: 100vw 60vh; /* Achtergrond bedekt de hele viewport zonder te rekken */
    min-height: 200vh; /* Scrollbaar houden */
    margin: 0; /* Verwijder standaardmarge om onverwachte scrollbalken te voorkomen */
}

/* afbeeldingen centreren */
.centerImage {
    display: block;
    margin: 0 auto;
}

/*ruimte eromheen + tekst in het midden*/
.content {
    padding: 100px;
    color: white;
    text-align: center;
}

/* tekst grootte muis erop */
.linkje {
    font-size: 25px;
    transition: font-size 0.3s; /* Animatie snelheid voor de flow */
}

.linkje:hover {
    font-size: 29px;
}

/* min-hoogte footer, gecentreerd */
.footer {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Tekst uitlijnen aan de onderkant */
    color: rgb(129, 155, 189);
    font-size: 20px;
}

/* Responsieve aanpassingen voor kleinere schermen */
@media (max-width: 768px) {
    /* Vermindert padding voor kleinere schermen */
    .content {
        padding: 50px; 
    }

    /* Verkleint lettergrootte voor betere leesbaarheid op mobiel */
    .BasisText-Wit, .BasisText-Zwart {
        font-size: 20px;
    }

    /* Kleinere voettekst voor mobiele weergave */
    .footer {
        font-size: 18px;
    }
}
