.BasisText { /*style voor algemene text op de site*/
    color: black;
    text-shadow: 10px;
    text-shadow: black;
    text-align: center !important;
}


body { /*achtergrond pagina en zorgen dat je kunt scrollen*/
    background: 
        url('/Images/BGimage.jpg') no-repeat center top;
        background-color: #313131;
        background-size: 100vw 100vh;
        height: 200vh;
}

.content {
    padding: 100px; /*ruimte eromheen*/
    color: white; /**/
    text-align: center; /* tekst in het midden*/
}

.linkje:hover {
    font-size: 20px;
    /*text grootte muis erop*/
}

.linkje {
    font-size: 16px;
    /*Standaard letter grootte*/
    transition: font-size 0.3s;
    /*Animatie snelheid voor de flow*/
}

.footer {
    min-height:180vh;  
    display:flex; 
    flex-direction:column; 
    justify-content:end;
    color: rgb(129, 155, 189);
    font-size: 20px;
}
