body {
    background-image: url("/Images/BGimage.jpg");
    /*https://www.vecteezy.com/vector-art/9626037-silhouette-landscape-with-fog-forest-pine-trees-mountains-illustration-of-national-park-view-mist-black-and-white-good-for-wallpaper-background-banner-cover-poster*/
    background-size: 100vw 100vh;
    /*afbeelding aanpassen aan beelscherm resolutie/aspect ratio */
}

.clrRedBox{
    background-color: aqua;
    color: chartreuse;
}

.clrRedBox{
    background-color: brown;
    color: purple;
}