body {
  background-image: url("/Images/BGimage.jpg");
  /*https://www.vecteezy.com/vector-art/9626037-silhouette-landscape-with-fog-forest-pine-trees-mountains-illustration-of-national-park-view-mist-black-and-white-good-for-wallpaper-background-banner-cover-poster*/
  background-size: 100vw 100vh;
  /*afbeelding aanpassen aan beelscherm resolutie/aspect ratio */
}

.clrRedBox .clrBlueBox .clrGreenBox .clrYellowBox {
  background-color: transparent;
  transition: background-color 900ms ease;
  text-align: center;
  padding: 5px;
  width: 150px;
  height: 50px;
  margin: 10px auto;
  font-size: 24px;
}

.divlisthorizontal {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.clrRedBox:hover {
  background-color: #c3423f;
  transition: background-color 900ms ease;
}

.clrYellowBox:hover {
  background-color: #d9f83b;
  transition: background-color 900ms ease;
}

.clrGreenBox:hover {
  background-color: #4b7f52;
  transition: background-color 900ms ease;
}

.clrBlueBox:hover {
  background-color: #3c91e6;
  transition: background-color 900ms ease;
}

.hoverlist {
  letter-spacing: 0.1vw;
  transition: letter-spacing 1s cubic-bezier(0.67, -0.41, 0.41, 1.75);
}

.hoverlist:hover +.clrRedBox +.clrGreenBox +.clrBlueBox +.clrYellowBox{
  .hoverlist{
    letter-spacing: 2vw;
  }
  .clrRedBox {
    background-color: #c3423f;
    transition: background-color 900ms ease;
  }
  
  .clrYellowBox {
    background-color: #d9f83b;
    transition: background-color 900ms ease;
  }
  
  .clrGreenBox {
    background-color: #4b7f52;
    transition: background-color 900ms ease;
  }
  
  .clrBlueBox {
    background-color: #3c91e6;
    transition: background-color 900ms ease;
  }
}
